<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223095615588-7bb3dct42hnujhuihq8922qii43a3han.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223095615588-7bb3dct42hnujhuihq8922qii43a3han</string>
	<key>API_KEY</key>
	<string>AIzaSyA4g87h9h2OetLO3SQKZGNRmOF6sDfWE3k</string>
	<key>GCM_SENDER_ID</key>
	<string>223095615588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManager</string>
	<key>PROJECT_ID</key>
	<string>task-manager-778f9</string>
	<key>STORAGE_BUCKET</key>
	<string>task-manager-778f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223095615588:ios:88cde5e15a70c49055ef71</string>
</dict>
</plist>